.card {
    color: #000;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    padding: 10px;
    transition: 0.2s ease;
    font-size: 0.8em;
}

.image-container-card {
    width: 100px;
}

.card:hover {
    transform: scale(1.07);
}