.footer {
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

.label {
    color: #a3b4cc;
    font-weight: bold;
}

.footerColumn ul {
    list-style-type: none;
}

.footerColumn a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease;
}

.footerColumn a:hover {
    color: #a3b4cc;
}