.home {
    padding: 2em;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    height: 80vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    align-items: flex-end;  
}
 
.textContent {
    width: 30%;
}


