.linear {
  background: linear-gradient(180deg, transparent 30%, #282c35 30%);
  height: 400px;
}

.planets-section {
  height: 300px;
}

.planets-section .planet {
  transition: all 0.2s ease-in-out;
  width: 225px;
  z-index: 20;
}

.logo-container {
  width: 200px;
  height: 100px;
  overflow: hidden;
  border-radius: 2px;
}

.logo {
  width: 400px;
  height: 270px;
  margin: -72px 0 0 2px;
}

.schedule {
  margin-top: -6rem;
}

.waves {
  visibility: hidden;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #edf2f7;
}

.waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  z-index: 10;
}

.waves .shape-fill {
  fill: #282c35;
}

@media screen and (min-width: 200px) {
  .margaret,
  .planets-section .planet {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .waves {
    visibility: visible;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .margaret,
  .planets-section .planet {
    visibility: visible;
    display: block;
  }

  .planets-section :nth-child(1) {
    top: -50px;
    left: 70px;
  }

  .planets-section :nth-child(2) {
    top: 100px;
    left: 270px;
  }

  .planets-section :nth-child(3) {
    top: -20px;
    left: 520px;
  }

  .planets-section :nth-child(4) {
    top: 90px;
    left: 790px;
  }

  .planets-section :nth-child(5) {
    top: -20px;
    left: 980px;
  }
}

@media screen and (min-width: 1450px) {
  .planets-section :nth-child(1) {
    top: -20px;
    left: 100px;
  }

  .planets-section :nth-child(2) {
    top: 100px;
    left: 340px;
  }

  .planets-section :nth-child(3) {
    top: -20px;
    left: 650px;
  }

  .planets-section :nth-child(4) {
    top: 90px;
    left: 950px;
  }

  .planets-section :nth-child(5) {
    top: -20px;
    left: 1250px;
  }
}

@media screen and (min-width: 1800px) {
  .planets-section {
    height: 420px;
  }

  .planets-section :nth-child(1) {
    top: -20px;
    left: 130;
  }

  .planets-section :nth-child(2) {
    top: 100px;
    left: 460px;
  }

  .planets-section :nth-child(3) {
    top: -20px;
    left: 800px;
  }

  .planets-section :nth-child(4) {
    top: 90px;
    left: 1200px;
  }

  .planets-section :nth-child(5) {
    top: -20px;
    left: 1550px;
  }
}
