.projects {
    padding: 2em 0;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    width: 100%;
    height: 150px;
}

.title h2 {
    font-size: 2.5em;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.projectsList {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

 


