html {
  font: 100%/1.5 "Roboto";
  box-sizing: border-box;
  width: 100%;
}

#___gatsby {
  width: 100%;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  border-bottom: 1px solid;
  border-image-source: linear-gradient(
    -90deg,
    #282c35 0%,
    #464950 28%,
    #464950 74%,
    #282c35 100%
  );
  border-image-slice: 1;
}
